{% extends 'base.html' %}

{% block title %} Lista de Agendamentos {% endblock %}

{% block main %}


<style>
    body {
        background-image: url('../../media/photos/hospital_4.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<p>

<div class="row1">
    <div class="coluna1">
        <h1 class="titulo" style="font-size:28px;">Lista de Agendamentos</h1>

    </div>
</div>

<div class="row2">
    <div class="coluna2">
        {% if user.is_authenticated %}
        <a class="nome"> Olá, {{ user.username }} !</a>
        <a href="{% url 'logout' %}" class="badge text-bg-dark">Sair</a>
        {% endif %}
    </div>
</div>


<br>

<div class="row3">
    <div class="coluna3">
        <a href="{% url 'agendamentos_new' %}" class="btn btn-primary btn-sm">Novo agendamento</a>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Voltar</a>
    </div>
</div>

<p>


<div class="card" style="width: 700px;">
    <div class="card-body">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome do Paciente</th>
                    <th scope="col">Data Agendada</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Status da Consulta</th>
                </tr>
            </thead>
            {% for agendamento in agendamentos %}
            {% if agendamento.arquivado == False %}
            <tbody>
                <tr>
                    <th scope="row">{{ agendamento.id }}</th>
                    <td>{{ agendamento.paciente.nome }}</td>
                    <td>{{ agendamento.data }}</td>
                    <td>Dr. {{ agendamento.medico }}</td>
                    <td>
                        {% if agendamento.status == "A Confirmar" %}
                        <li class="list-group-item list-group-item-danger">{{ agendamento.status }}</li>
                        {% elif agendamento.status == "Confirmado" %}
                        <li class="list-group-item list-group-item-success">{{ agendamento.status }}</li>
                        {% elif agendamento.status == "Finalizado" %}
                        <li class="list-group-item list-group-item-dark">{{ agendamento.status }}</li>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'agendamentos_update' agendamento.id%}" title="Editar agendamento">
                            <i class="bi-pencil-square"></i></a></td>
                    <td><a href="{% url 'agendamentos_delete' agendamento.id%}" class="trash-item"
                            title="Arquivar agendamento">
                            <i class="bi-archive-fill"></i></a></td>
            </tbody>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
<br>

<div id='calendar' class="card" style="width: 700px;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            buttonText: {
                today: "Hoje",
                month: "Mês",
                week: "Semana",
                day: "Dia",
                list: "Lista",
            },
            locale: "pt-br",
            themeSystem: 'bootstrap5',
            headerToolbar: {
                left: 'timeGridDay,timeGridWeek,dayGridMonth',
                center: 'title',
                right: 'prevYear,prev,next,nextYear'
            },


        });

        calendar.render();
    });




</script>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="text-center">
        <span class="text-muted">Desenvolvimento Web com Django</span>
    </div>
</footer>
{% endblock %}