{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block title %} Cadastro de Agendamentos {% endblock %}

{% block main %}

<style>
    body {
        background-image: url("{% static 'img/hospital_4.jpg' %}");
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="container form-container-ag-form">
    <div class="card-ag-form">
        <div class="card-header-ag-form">
            Cadastro de Agendamentos
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label-ag-form">Data</label>
                    {{ form.data }}
                </div>

                <div class="mb-3">
                    <label class="form-label-ag-form">Hora</label>
                    {{ form.hora }}
                </div>

                <div class="mb-3">
                    <label class="form-label-ag-form">Descrição</label>
                    {{ form.descricao }}
                </div>

                <div class="mb-3">
                    <label class="form-label-ag-form">Status</label>
                    {{ form.status }}
                </div>
                
                <div class="mb-3">
                    <label class="form-label-ag-form">Valor Pago (R$)</label>
                    {{ form.valor_pago }}
                </div>

                <div class="mb-3">
                    <label class="form-label-ag-form">Paciente</label>
                    {{ form.paciente }}
                </div>

                <div class="mb-3">
                    <label class="form-label-ag-form">Médico</label>
                    {{ form.medico }}
                </div>

                <div class="btn-container-ag-form">
                    <button type="submit" class="btn btn-primary btn-ag-form">
                        <i class="bi bi-check-circle"></i> Salvar
                    </button>
                    <a href="{% url 'agendamentos_list' %}" class="btn btn-secondary btn-ag-form">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src={% static 'jquery-3.6.0.min.js' %}></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>

    $(document).ready(function () {
        $('#id_status').select2();
    });

    $(document).ready(function () {
        $('#id_medico').select2();
    });

     $(document).ready(function () {
        $('#id_paciente').select2();
    });

</script>

{% endblock %}