{% extends 'base.html' %}
{% load static %}

{% block title %} Desarquivamento de Agendamento {% endblock %}

{% block main %}

<style>
    body {
        background-image: url("{% static 'img/hospital_4.jpg' %}");
        background-attachment: fixed;
        background-size: cover;
    }
</style>

    <div class="form-container-ag-delete">
    <div class="card-ag-delete">
        <div class="card-header-ag-delete">
            Desarquivamento de Agendamento
        </div>
        <p class="text-center">Tem certeza que deseja desarquivar o agendamento do paciente <b>{{ agendamento.paciente.nome }}</b>?</p>
        <div class="btn-container-ag-delete agendamento-actions">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" style="margin: 0px">
                    <i class="bi bi-archive-fill"></i> Desarquivar
                </button>
            </form>
            <a href="{% url 'agendamentos_arquivados' %}" class="btn btn-secondary" style="margin: 0px">
                <i class="bi bi-x-circle"></i> Voltar
            </a>
        </div>
    </div>
</div>

{% endblock %}

