# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Python
__pycache__/
**/__pycache__/
*.pyc

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Django stuff:
*.sqlite3