{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block title %} Pagina de Login {% endblock %}

{% block main %}

<section class="main-login">
    <div class="card login-card mx-auto">
        <div class="row g-0">
            <!-- Logo -->
            <div class="col-md-4 login-logo">
                <img src="{% static 'img/medical_logo.png' %}" class="img-fluid p-3" alt="logo" width="180"
                    height="180">
            </div>
            
            <!-- Formulário -->
            <div class="col-md-8">
                <div class="card-body login-body">
                    <h5>Login MedicalSys</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="login-actions">
                            <a href="{% url 'cadastro' %}" class="btn btn-link">Cadastrar-se</a>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="text-center">
        <span class="text-muted">Desenvolvimento Web com Django</span>
    </div>
</footer>
{% endblock %}