{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro de Médicos{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">

<div class="page-container-success-error">
    <div class="card-cadastro" style="padding-bottom: 20px;">
        <!-- Lado esquerdo -->
        <div class="card-left" style="margin-top: 20px;">
            <img src="{% static 'img/medical_logo.png' %}" alt="logo" class="logo">
        </div>

        <!-- Lado direito -->
        <div class="card-right text-center"> 
            <h5 class="titulo">Médico cadastrado com sucesso!</h5>

            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary" style="margin-top: 25px;">Fazer Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
