{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block title %} Cadastro de Medicos {% endblock %}

{% block main %}

<style>
    body {
        background-image: url('../../media/photos/hospital.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div style="padding:15px">
    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../media/photos/medical_logo.png" class="img-fluid rounded-start p-3" alt="logo" width="180"
                    height="180">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div style="padding-left:70px;">
                        <h5 class="card-title">Erro ao cadastrar-se</h5>
                    </div>
                    <p class="card-text">Já existe um médico cadastrado com o nome de <b>usuário</b> informado, tente outro nome!</p>
                    <div style="padding-left: 50px;">
                        <a href="{% url 'cadastro' %}" class="btn btn-primary ">Cadastrar-se</a>
                        <a href="{% url 'login' %}" class="btn btn-secondary ">Fazer login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}