{% extends 'base.html' %}
{% load static %}

{% block title %} Exclusão de Paciente {% endblock %}

{% block main %}

<style>
    body {
        background-image: url("{% static 'img/hospital_2.jpg' %}");
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="container person-delete-container">
    <div class="card shadow-sm">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">Exclusão de Paciente</h5>
        </div>
        <div class="card-body text-center">
            <p class="card-text">Tem certeza que deseja deletar o paciente <b>{{ person.nome }}</b>?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-buttons mt-3">
                    <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                    <a href="{% url 'person_list' %}" class="btn btn-secondary btn-sm">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

