{% extends 'base.html' %}

{% block title %} Lista de Pacientes {% endblock %}

{% block main %}

<style>
    body {
        background-image: url('../../media/photos/hospital_2.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<p>

<div class="row">
    <div class="col1">
        <h3 class="titulo" style="font-size:30px;">Lista de Pacientes</h3>
    </div>
    
<br>

<div class="row2">
    <div class="col2">
        {% if user.is_authenticated %}
        <a>Olá, {{ user.username }} ! <a href="{% url 'logout' %}" class="badge text-bg-dark">Sair</a></a>
        {% endif %}
    </div>
    

<br>    

<div class="row3">
    <div class="col3">
        <a href="{% url 'person_new' %}" class="btn btn-primary btn-sm">Novo paciente</a>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Voltar</a>

    </div>

</div>

<br>
<p></p>

<ul class="list-group">
    {% for person in persons %}

    <li class="list-group-item">
        {{ person.nome }} <a href="{% url 'persons_update' person.id%}" title="Editar paciente">
            <i class="bi-pencil-square"></i>
        </a>
        <a href="{% url 'persons_delete' person.id%}" class="trash-item" title="Excluir paciente">
            <i class="bi-trash-fill"></i>
        </a>
    </li>

    {% endfor %}
</ul>

<br>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="text-center">
        <span class="text-muted">Desenvolvimento Web com Django</span>
    </div>
</footer>
{% endblock %}