{% extends 'base.html' %}

{% load bootstrap %}

{% load static %}

{% block title %} Cadastro de Pacientes {% endblock %}

{% block main %}

<style>
    body {
        background-image: url('../../media/photos/hospital_2.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<p>
<div class="card text-left">
    <div class="card-header">
        <b>Cadastro de Pacientes</b>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Proteção para não ser possível manipular formularios -->
            {{ form|bootstrap }}
            <!-- form é o formulario declarado em person_new -->
            <br>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'person_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

<script src={% static 'jquery-3.6.0.min.js' %}></script>
<script src={% static 'jquery.mask.min.js' %}></script>

<script>
    $(document).ready(function () {
        $('#id_telefone').mask('(00) 00000-0000');
        $('#id_cep').mask('00000-000');
    })
</script>


<script>
    function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('id_rua').value = ("");
        document.getElementById('id_cidade').value = ("");
        document.getElementById('id_bairro').value = ("");
        document.getElementById('id_estado').value = ("");
    }
    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('id_rua').value = (conteudo.logradouro);
            document.getElementById('id_cidade').value = (conteudo.localidade);
            document.getElementById('id_bairro').value = (conteudo.bairro);
            document.getElementById('id_estado').value = (conteudo.uf);
            document.getElementById('id_país').value = ("Brasil");
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado. Digite novamente...");
        }
    }
    function pesquisacep(valor) {
        console.log(valor)
        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');
        //Verifica se campo cep possui valor informado.
        if (cep != "") {
            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;
            //Valida o formato do CEP.
            if (validacep.test(cep)) {
                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('id_rua').value = "...";
                document.getElementById('id_cidade').value = "...";
                document.getElementById('id_bairro').value = "...";
                document.getElementById('id_estado').value = "...";
                document.getElementById('id_país').value = "...";
                //Cria um elemento javascript.
                var script = document.createElement('script');
                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';
                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);
            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido. Digite novamente...");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
    let el = document.getElementById("id_cep");
    el.addEventListener("blur", () => pesquisacep((() => document.getElementById("id_cep").value)()), false)
</script>

{% endblock %}