{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap & Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/agendamento.css' %}">
    <link rel="stylesheet" href="{% static 'css/agendamento_delete.css' %}">
    <link rel="stylesheet" href="{% static 'css/agendamento_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'css/faturamento.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/person.css' %}">
    <link rel="stylesheet" href="{% static 'css/person_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <title> {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo-1.ico' %}" type="image/gif/png/ico">

</head>
<body>
    <div class="page-wrapper">

        <main>
            {% block main %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}
    </div>

    {% block scripts %}
    <!-- jQuery deve vir primeiro -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <!-- JQuery Mask -->
    <script src={% static 'jquery.mask.min.js' %}></script>

    <!-- Toastr Messages -->
    <script>
        {% if messages %}
        {% for message in messages %}
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "timeOut": "5000",
            "positionClass": "toast-top-right"
        };
        toastr["{{ message.tags }}"]("{{ message|escapejs }}");
        {% endfor %}
        {% endif %}
    </script>
    
    <!-- Scripts da página -->
    {% block page_scripts %}{% endblock %}

    {% endblock %}

</body>
</html>