
/*TÍTULO DA ÁREA DE CADASTRO DE AGENDAMENTOS   */

h3.titulo {
    text-align: center;
    color: white;
    font-size: 35px;
}

h3.titulo_lista_pacientes {
    color: black;
    text-align: center;
}

p.nome_usuario {
    color: #0d6efd;
    text-align: left;
    font-weight: bold;
}

a.button_sair {
    text-align: right;
    color: black;

}

a.btn_novo_agendamento {
    color: black;

}