h3.titulo {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

p {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: bold;
}

a.btn.btn-primary.btn-sm {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: nowrap;
}

a.btn.btn-secondary.btn-sm {
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-content: center;
}
